$secondary: #f3f6f8;
$primary: #28a745;
$enable-responsive-font-sizes: true;

@import '~@progress/kendo-theme-bootstrap/dist/all.scss';
@import '~bootstrap/scss/bootstrap.scss';

/*
Card
*/
html,
body,
#root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  &.m__overflow-hidden {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
}

* {
  box-sizing: border-box;
}

header {
  height: 80px;
}
.logo {
  max-width: 70px;
  width: 100%;
}

.m__card-image {
  object-fit: cover;
  object-position: center;
  width: 5em;
  height: 4em;
}
.m__card-title {
  font-size: 1em;
}
.m__card-subtitle {
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 0.25rem;
  width: 75%;
}
.m__card-status {
  padding: 0.125em;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

/*
* ListView
*/

.k-listview {
  // height: 100%;
  border: 0;
  &-content {
    padding: 0 0.5em;
  }
  &.m__places-listview {
    .k-listview-content {
      overflow: unset;
      padding: 0;
    }
  }
}
.m__listview-reviews {
  max-height: 400px;
  overflow-y: auto;
}

/*
* Marker
*/

.m__marker {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  &:hover {
    z-index: 2;
  }
}
.m__marker-tooltip {
  font-size: 13px;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}

.k-tooltip .k-callout {
  color: #fff;
}
.z-index-2 {
  z-index: 2;
}
.cursor-pointer {
  cursor: pointer;
}

/*
* Window
*/

.k-window-titlebar {
  border: 0;
}
.m__window {
  box-shadow: 14px 5px 25px 3px rgba(0, 0, 0, 0.23);
}
/*
* Image Grid
*/

.m__img-grid {
  max-width: 15em;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.m__img-grid-wrapper {
  padding: 0.1em !important;
}

/*
* Details
*/

.m__details {
  &-name {
    font-size: 16px;
  }
  &-status {
    font-size: 10px;
    padding: 0.125em 0.25em;
  }
  &-info {
    font-size: 14px;
  }
  &-reviews {
    &-title {
      font-size: 16px;
    }
    &-name,
    &-text {
      font-size: 13px;
    }
    &-text p {
      margin: 0;
    }
    &-created {
      font-size: 10px;
    }
    &-morebtn,
    &-lessbtn {
      padding-left: 0;
      padding-right: 0;
      font-size: 14px;
      outline: none !important;
      background-color: transparent;
      border: 0;
    }
  }
}

/*
* Rating
*/
.m__meta,
form {
  .k-rating {
    &-item {
      padding: 0.5rem 0.25rem 0.5rem 0 !important;
      .k-icon {
        font-size: 20px !important;
      }
      &.k-state-selected {
        color: #f8b805;
      }
      .k-rating-precision-complement,
      .k-rating-precision-part {
        width: 10px !important;
      }
      &:last-child {
        height: 20px !important;
        width: 20px !important;
      }
    }
    &.m__rating {
      .k-rating-item {
        padding-right: 0.1rem;
        .k-icon {
          font-size: 12px !important;
        }
      }
    }
    &.m__shadow-rating {
      position: absolute;
      opacity: 0;
      z-index: 20;
    }
  }
}

.k-rating-item.k-state-selected,
.k-rating-item {
  color: #f8b805;
}
.k-rating-container {
  margin: 0;
}

.k-card-body {
  span.k-rating-item {
    padding: 0.3em;
    padding-left: 0;
    .k-rating-precision-complement {
      width: 7px !important;
      left: 37% !important;
      top: unset;
    }
    .k-icon {
      font-size: 14px !important;
    }
    .k-rating-precision-part {
      width: 7px !important;
      top: unset;
      left: unset;
    }
    & span:last-child {
      width: 14px !important;
      height: 14px !important;
    }
  }
}

/*
* LOADER OVERLAY
*/
.m__loader-overlay {
  position: sticky;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.23);
  padding-top: 1em;
}

.m__outline-none {
  outline: none !important;
}

/*
* Upload
*/

.m__upload-preview {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.k-widget.k-upload {
  border: 0;
  display: flex;
  margin-top: 10px;
  .k-dropzone {
    width: 5em;
    height: 4em;
    background: $secondary;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: relative;
    margin-right: 5px;
    .k-upload-button {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      min-width: unset !important;
      padding: 0;
      z-index: 2;
    }
    &-hint {
      display: none;
    }
    &::after {
      content: '+';
      position: absolute;
      left: 50%;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(-50%, -50%);
      color: lightgray;
      font-size: 20px;
      width: 16px;
      height: 16px;
    }
  }
  .k-upload-files {
    display: flex;
    align-items: center;
    border: 0 !important;
    .k-file {
      display: flex;
      align-items: center !important;
      justify-content: center;
      border: 1px solid $secondary !important;
      border-radius: 5px;
      overflow: hidden;
      width: 5em;
      height: 4em;
      padding: 0 !important;
      margin-right: 5px;
    }
  }
}

/*
* Review Images
*/
.m__review-img {
  width: 4em;
  height: 3em;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
}

.h-90 {
  height: 90%;
}

.min-h-100 {
  min-height: 100%;
}

.m__filter-dropdowns {
  .k-dropdown {
    &-wrap {
      background-color: #fff !important;
      border: 1px solid #d3dee5;
    }
  }
}

/*
* Drawer
*/

.m__drawer-container {
  &.k-drawer {
    &-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      top: 130px;
      .k-drawer {
        position: absolute;
        height: 100%;
        display: none;
        z-index: 100000;
        &-content {
          position: relative;
          height: 100%;
        }
        &-wrapper {
          height: 100%;
        }
      }
      &.expanded {
        .k-drawer {
          display: unset;
        }
      }
    }
  }
}

.k-drawer-item {
  &,
  &:hover {
    background-color: #fff !important;
    border: 0 !important;
    box-shadow: none !important;
  }
}

.k-list-container {
  z-index: 100000;
}

/*
* Modal
*/

.m__modal {
  z-index: 10004;
  .k-window-titlebar {
    padding: 0 0.45em;
    .k-button {
      &::before,
      &::after {
        background-color: #fff !important;
        box-shadow: none !important;
        outline: none !important;
        &:hover {
          background-color: #fff !important;
        }
      }
    }
  }
}

/*
* Overlay
*/
.m__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10003;
}

.m__avatar-img {
  max-width: 2em;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.k-overlay {
  z-index: 10003;
}
